@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

ul, ol {
    list-style: none;
    padding-inline-start: 0px;
}

/* 나눔바른고딕 설정 */
@font-face{
    font-family:'NanumBarunGothic';
    src:url("../fonts/NanumBarunGothic.eot");
    src:local("☺"),url("../fonts/NanumBarunGothic.woff") format("woff");
}

a:hover { text-decoration: none;}

/* navbar 영역 고려하여 padding-top:90px 설정하고 본문글꼴로 나눔바른고딕 설정 */
body {font-family: "NanumBarunGothic",  sans-serif; padding-top: 70px; }

/* .container-fluid 선택자 좌우 패딩값을 0으로 */
.container-fluid { padding: 0;}

.container {
    padding: 0;
    margin: 0 auto;
    position: relative;
    max-width: 980px;
}

/* navbar에 대한 설정 */
.navbar {
    background-color: #eee;
    border: none;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: 70px;
    text-transform: capitalize;
    border-bottom: 1px solid #AAAAAA;
}

/* 화면이 축소될 때 navbar에 들어갈 메뉴버튼 위치 선정 */
.navbar-default .navbar-toggle {
    position: relative;
    margin-top: 15px;
    margin-right: 20px;
    border-color: #666;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #ccc;
    background-color: transparent;
}

/* 메뉴 위치 선정 */
.navbar-nav { padding-right: 10px; margin-top: 0px; background-color: #eee; }

/* 메뉴 텍스트 부분 설정 */
.navbar-default .navbar-nav li { margin: 0 20px; }
.navbar-default .navbar-nav li a { color: #333; }

.navbar-brand {
    margin: 0;
    padding: 10px;
}

.navbar-collapse { padding-top: 10px; background-color: #eee; }

.navbar-default .navbar-nav>li>a:hover { color: #FF8000; }

#logo {
    height: 50px;
    margin: 10px auto;
    padding: 0px;
}

/* navbar 메뉴의 마우스오버, 활성화상태 서식 */
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover,
.navbar-default .navbar-nav>li.active>a:focus { color: #FF8000; background-color: #eee; }

/* 상품영역 전체 */
.row {
    border: 0px #ccc solid;
    margin: 50px 0;
}

/* 기기사진 + Info 영역 Outer*/
div.thumbnails {
    border: 0px #ccc solid;
    margin: 20px 0;
}

/* 기기사진 + Info 영역 Inner*/
div.prodCell {
    border: 0px red solid;
    max-width: 250px;
    center-block;
    float: none;
    margin: 0 auto;
}

/* 기기사진 하단 이름, 가격 표시영역 */
div.prodInfo {
    width: 80%;
    border: 0px #ccc solid;
}

/* 기종명 서식 */
div.prodName {
    padding: 2px 0px;
    font-size: 22px;
    font-weight: 400;
    border-bottom: 2px solid #efefef;
    text-align: center;
    color: #000;
    letter-spacing: -1px;
}

/* 가격 서식 (숫자제외) */
div.prodPrice {
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0px;
    border-bottom: 2px solid #efefef;
    text-align: center;
    color: #000;
    letter-spacing: -1px;
}

/* 가격 서식 (숫자) */
div.prodPrice span {
    padding: 12px 0 8px 0;
    margin: 0 3px 0 5px;
    font-size: 22px;
    font-weight: 700;
    color: #f82a2a;
    letter-spacing: -1px;
}

/* 색상표시 영역 */
ul.optColor {
    position: absolute;
    border: 0px blue solid;
    bottom: 85px;
    left: calc(50% + 75px); /* 연산자 앞뒤 공백 꼭 필요. */
}

/* 각 색상 아래여백 */
ul.optColor li {
    margin-bottom: 8px;
    list-style: none;
}

/* 각 색상표시 */
ul.optColor li > span {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border: 1px solid #bababa;
    border-radius: 50%;
    text-indent: 9999px;
}

footer {
    position: absolute;
    width: 100%;
    color: #aaa;
    background-color: #333;
    padding-top: 15px;
}

.footer-menu a {
    color: inherit;
    text-decoration: none;
}

.footer-menu {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #aaa;
}

.footer-text {
    font-size: 15px;
    text-align: left;
    font-weight: 100;
    color: #aaa;
}

.content3 {
    background-color: #333;
    font-size: 15px;
    font-weight: 200;
    color: #aaa;
}

.bs_footer_security_img {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 240px;
    height: 80px;
    margin: 5px 0px 0px 0px;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    ul.optColor {
        left: calc(50% + 40px); /* 연산자 앞뒤 공백 꼭 필요. */
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0;
        margin: 0;
        position: relative;
        width: 100%;
    }

    .navbar {
        height: 60px;
    }

    #logo {
        height: 50px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    div.thumbnails {
        margin: 10px 0;
    }

    div.prodInfo {
        max-width: 200px;
    }

    div.prodName {
        font-size: 20px;
    }

    div.prodPrice {
        font-size: 14px;
    }

    div.prodPrice span {
        font-size: 20px;
    }

    /* 색상표시 영역 */
    ul.optColor {
        bottom: 80px;
    }

    .bs_footer_security_img {
        visibility: hidden;
    }

    .content3 {
        font-size: 14px;
        padding: 10px 10px 30px 20px;
    }
}